<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            ul {
                margin: 5px 5px 20px 0px;
            }
            li {
                display: inline;
                padding: 5px;
                margin: 5px 5px 20px 0px
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/hello">Greeting</a></li>
                <li><a href="/validate-time">Time Validator</a></li>
                <li><a href="/todos">To Do List</a></li>
                <li><a href="/form-inputs">Form Inputs</a></li>
                <li><a href="https://github.com/Bradleywboggs/hello-flask">My GitHub</a></li>
            
            </ul>
        </nav>

        {% block content %}
        {% endblock %}

    </body>
</html>